<h4>{{ assign.respondent.last_name }} has not responded to our survey.</h4>

<p>We sent {{ assign.respondent.last_name }} the following questions and offered {{ assign.respondent.last_name }} unlimited space to respond on this page.</p>

<p>{% if assign.respondent.twitter %}Send {% if assign.respondent.gender == "M" %}him{% else %}her {% endif %} a tweet or t{% else %}T{% endif %}ell {% if assign.respondent.gender == "M" %}him{% else %}her{% endif %} what you think in the <a class="alert-link" href="#comment-box">comments</a>.</p>